[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[dev-packages]
autopep8 = "*"
